@import "tailwindcss";

@theme {
  --color-background: #fafafa;
  --color-foreground: #171717;
  
  --font-family-roboto: var(--font-roboto), sans-serif;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: theme(--color-background);
  color: theme(--color-foreground);
  font-family: var(--font-roboto), sans-serif;
}
