@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-ibm-plex-mono: var(--font-ibm-plex-mono), monospace;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: calc(var(--radius));
  --radius-xl: calc(var(--radius) + 4px);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;

  @variant sm {
    padding-inline: 2rem;
  }

  @variant md {
    padding-inline: 2rem;
  }

  @variant lg {
    padding-inline: 4rem;
  }

  @variant xl {
    padding-inline: 5rem;
  }
}

@theme {
  /* Colors */
  --color-primary: #1c451f;
}

@keyframes slide-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out-to-top {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@utility animate-slide-in-from-top {
  animation: slide-in-from-top 0.4s ease-out;
}

@utility animate-slide-out-to-top {
  animation: slide-out-to-top 0.4s ease-out;
}

body {
  background: var(--background);
  color: var(--foreground);
}