@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --font-family-ibm-plex-mono: var(--font-ibm-plex-mono), monospace;
}

body {
  background: theme(--color-background);
  color: theme(--color-foreground);
  font-family: var(--font-ibm-plex-mono), monospace;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --primary: #1c451d; /* green */
  --secondary: #cc441f; /* red */
}

@keyframes slide-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out-to-top {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-slide-in-from-top {
  animation: slide-in-from-top 0.4s ease-out;
}

.animate-slide-out-to-top {
  animation: slide-out-to-top 0.4s ease-out;
}